@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';



:root {
  
  /* --fd-layout-width: 1700px; */
  
}

@theme {
  --color-fd-background: 	hsl(48, 33%, 97%);
  --color-fd-foreground: hsl(222, 25%, 10%);

  --color-fd-muted: hsl(220, 15%, 93%);
  --color-fd-muted-foreground: hsl(220, 10%, 45%);

  --color-fd-popover: hsl(220, 20%, 99%);
  --color-fd-popover-foreground: hsl(222, 25%, 15%);

  --color-fd-card: hsl(53, 29%, 95%);
  --color-fd-card-foreground: hsl(222, 25%, 10%);

  --color-fd-border: hsla(220, 12%, 70%, 45%);

  /* PRIMARY — Blue brand */
  --color-fd-primary: hsl(222, 75%, 55%);
  --color-fd-primary-foreground: hsl(0, 0%, 98%);

  --color-fd-secondary: hsl(220, 15%, 90%);
  --color-fd-secondary-foreground: hsl(222, 25%, 10%);

  /* Hover, subtle highlights */
  --color-fd-accent: hsla(222, 90%, 78%, 35%);
  --color-fd-accent-foreground: hsl(222, 25%, 10%);

  --color-fd-ring: hsl(222, 80%, 60%);
}

.dark {
  --color-fd-background: hsl(220, 15%, 9%);
  --color-fd-foreground: hsl(220, 20%, 92%);

  --color-fd-muted: hsl(0, 10%, 14%);
  --color-fd-muted-foreground: hsl(220, 10%, 70%);

  --color-fd-popover: hsl(220, 10%, 12%);
  --color-fd-popover-foreground: hsl(220, 20%, 88%);

  --color-fd-card: hsl(220, 10%, 11%);
  --color-fd-card-foreground: hsl(220, 20%, 98%);

  --color-fd-border: hsla(220, 10%, 45%, 25%);

  /* PRIMARY — Bright cool blue */
  --color-fd-primary: hsl(222, 85%, 65%);
  --color-fd-primary-foreground: hsl(220, 15%, 8%);

  --color-fd-secondary: hsl(220, 10%, 16%);
  --color-fd-secondary-foreground: hsl(220, 20%, 92%);

  /* Hover, outlines */
  --color-fd-accent: hsla(222, 60%, 52%, 30%);
  --color-fd-accent-foreground: hsl(220, 15%, 92%);

  --color-fd-ring: hsl(222, 80%, 60%);
}

/* --------------------------------------------------------------- */


