@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';






/* These classes are for sidebars tabs */

/* Sidebar link & folder - Active state (Light mode) */
aside a[data-active="true"],
aside button[data-active="true"] {
  background-color: hsl(220, 90%, 56%) !important;
  color: white !important;
}

/* Sidebar link & folder - Hover state (Light mode) */
aside a[data-active="false"]:hover,
aside a.w-full:hover,
aside button:hover {
  background-color: hsl(220, 90%, 90%) !important;
  color: hsl(220, 90%, 20%) !important;
}

/* Dark mode - Active state */
.dark aside a[data-active="true"],
.dark aside button[data-active="true"] {
  background-color: hsl(220, 80%, 45%) !important;
  color: white !important;
}

/* Dark mode - Hover state */
.dark aside a[data-active="false"]:hover,
.dark aside a.w-full:hover,
.dark aside button:hover {
  background-color: hsl(220, 80%, 45%, 20%) !important;
  color: white !important;
}


:root {
  --color-fd-background: #FAF9F5;
}
.dark {
  --color-fd-background: #010101;
}

/* --------------------------------------------------------------- */


/* Table of Contents (TOC) Customization */

/* TOC link - Active state (Light mode) */
div.border-s a[data-active="true"] {
  color: hsl(220, 90%, 56%) !important;
}


/* TOC link - Hover state (Light mode) */
div.border-s a[data-active="false"]:hover {
  color: hsl(220, 90%, 40%) !important;
}

/* TOC link - Default/inactive state (Light mode) */
div.border-s a[data-active="false"] {
  color: hsl(0, 0%, 55%) !important;
}

/* TOC active indicator line (Light mode) */
div[role="none"].bg-fd-primary {
  background-color: hsl(220, 90%, 56%) !important;
}

/* Dark mode - Active state */
.dark div.border-s a[data-active="true"] {
  color: hsl(220, 90%, 60%) !important;
}

/* Dark mode - Hover state */
.dark div.border-s a[data-active="false"]:hover {
  color: hsl(220, 90%, 70%) !important;
}

/* Dark mode - Default/inactive state */
.dark div.border-s a[data-active="false"] {
  color: hsl(0, 0%, 60%) !important;
}

/* TOC active indicator line (Dark mode) */
.dark div[role="none"].bg-fd-primary {
  background-color: hsl(220, 90%, 60%) !important;
}

/* Customize the left border line color */
div.border-s {
  border-left-color: hsl(0, 0%, 30%) !important;
}

.dark div.border-s {
  border-left-color: hsl(0, 0%, 25%) !important;
}
